<h3>Reserva do imóvel <%= @property_reservation.property.title %></h3>
<dl>
  <dt>Data de início</dt>
  <dd><%= l @property_reservation.start_date %></dd>
  <dt>Data de término</dt>
  <dd><%= l @property_reservation.end_date %></dd>
  <dt>Quantidade de pessoas</dt>
  <dd><%= @property_reservation.guests %></dd>
  <dt>Valor total</dt>
  <dd><%= number_to_currency @property_reservation.total_value %></dd>
</dl>